<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/config-geral.css">
    <link rel="stylesheet" href="/css/paginas.css">
</head>
<body>
    <!-- gambiarra? -->
    <div class="gambiarra"></div>
    <!-- cabeçalho -->
    <header id="header">
        <!-- logo -->
        <div class="logo-header">
            <a href="/"><h1>Zoon</h1></a>
        </div>
    </header>



    <div class="espaco"></div>
    <!-- conteúdo -->
    <main>

        <section>

            <div class="titulo-referencia">
                <div class="titulo">
                    <h2>Febre Amarela</h2>
                </div>

                <div class="espaco"></div>

                <div class="referencia">
                    <a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/f/febre-amarela" target="_blank">Referência</a>
                </div>
            </div>

            <div class="espaco"></div>

            <div class="conteudo">
                <div class="conteudo-imagem">
                    <img src="https://dive.sc.gov.br/images/doencas%20e%20agravos/Doen%C3%A7as%20Definitivas/Febre%20Amarela.png" alt="">
                </div>
                
                <div class="espaco"></div>
                
                <div class="conteudo-texto">

                    <article>

                        <div id="o-que-e">
                            <h3>O que é</h3>

                            <p>A febre amarela é uma doença infecciosa febril aguda, causada por um vírus transmitido por mosquitos vetores, e possui dois ciclos de transmissão: silvestre (quando há transmissão em área rural ou de floresta) e urbano. O vírus é transmitido pela picada dos mosquitos transmissores infectados e não há transmissão direta de pessoa a pessoa. A febre amarela tem importância epidemiológica por sua gravidade clínica e potencial de disseminação em áreas urbanas infestadas pelo mosquito Aedes aegypti..</p>

                            <p>É uma doença de notificação compulsória imediata, ou seja, todo evento suspeito (tanto morte de primatas não humanos, quanto casos humanos com sintomatologia compatível) deve ser prontamente comunicado, em até 24 horas após a suspeita inicial, às autoridades locais competentes pela via mais rápida (telefone, fax, email, etc). Às autoridades estaduais de saúde cabe notificar os eventos de febre amarela suspeitos ao Ministério da Saúde. Atualmente, a febre amarela silvestre (FA) é uma doença endêmica no Brasil (região amazônica)..</p>
                
                            <p>Na região extra-amazônica, períodos epidêmicos são registrados ocasionalmente, caracterizando a reemergência do vírus no País. O padrão temporal de ocorrência é sazonal, com a maior parte dos casos incidindo entre dezembro e maio, e com surtos que ocorrem com periodicidade irregular, quando o vírus encontra condições favoráveis para a transmissão (elevadas temperatura e pluviosidade; alta densidade de vetores e hospedeiros primários; presença de indivíduos suscetíveis; baixas coberturas vacinais; eventualmente, novas linhagens do vírus), podendo se dispersar para além dos limites da área endêmica e atingir estados das regiões Centro.</p>

                            <p>Importante: Qualquer pessoa não vacinada, independentemente da idade ou sexo, que se exponha em áreas de risco e/ou com recomendação de vacina. É fundamental cobertura vacinal da população em todo o território nacional, esta é a principal forma de prevenir a febre amarela.</p>
                        </div>

                    </article>

                    <article>

                        <div id="transmissao">
                            <h3>Transmissão</h3>

                            <p>O vírus da febre amarela é transmitido pela picada dos mosquitos transmissores infectados. A doença não é passada de pessoa a pessoa. A série histórica da doença no Brasil tem demonstrado maior frequência de ocorrência de casos humanos nos meses de dezembro e maio, como um padrão sazonal.</p>

                            <p>Esse fato ocorre principalmente no verão, quando a temperatura média aumenta na estação das chuvas, favorecendo a reprodução e proliferação de mosquitos (vetores) e, por consequência o potencial de circulação do vírus.</p>

                            <p>Os vetores silvestres têm hábito diurno, realizando o repasto sanguíneo durante as horas mais quentes do dia, sendo os vetores dos gêneros Haemagogus e Sabethes, geralmente, mais ativos entre às 9h e 16h da tarde.</p>

                            <h3>Há dois diferentes ciclos epidemiológicos de transmissão:</h3>

                            <ul>
                                <li><p>Silvestre;</p></li>
                                <li><p>Urbano.</p></li>
                            </ul>
                            
                            <p>Apesar desses ciclos diferentes, a febre amarela tem as mesmas características sob o ponto de vista etiológico, clínico, imunológico e fisiopatológico.</p>

                            <p>No ciclo silvestre da febre amarela, os primatas não humanos (macacos) são os principais hospedeiros e amplificadores do vírus e os vetores são mosquitos com hábitos estritamente silvestres, sendo os gêneros Haemagogus e Sabethes os mais importantes na América Latina. Nesse ciclo, o homem participa como um hospedeiro acidental ao adentrar áreas de mata.</p>

                            <p>No ciclo urbano, o homem é o único hospedeiro com importância epidemiológica e a transmissão ocorre a partir de vetores urbanos (Aedes aegypti) infectados.</p>

                            <p>A pessoa apresenta os sintomas iniciais da febre amarela de 3 a 6 dias após ter sido infectada.</p>

                            <p>Importante: O ciclo da doença atualmente é silvestre, com transmissão por meio de vetor (mosquitos dos gêneros Haemagogus e Sabethes no ambiente silvestre). O último caso de febre amarela urbana foi registrado no Brasil em 1942 e todos os casos confirmados desde então decorrem do ciclo silvestre de transmissão.</p>
                        </div>

                    </article>

                    <article>

                        <div id="sintomas">
                            <h3>Sintomas</h3>

                            <p>Os sintomas iniciais da febre amarela são:</p>

                            <ul>
                                <li><p>Início súbito de febre;</p></li>
                                <li><p>Calafrios;</p></li>
                                <li><p>Dor de cabeça intensa;</p></li>
                                <li><p>Dores nas costas;</p></li>
                                <li><p>Dores no corpo em geral;</p></li>
                                <li><p>Náuseas e vômitos;</p></li>
                                <li><p>Fadiga e fraqueza.</p></li>
                            </ul>

                            <p>A maioria das pessoas melhora após estes sintomas iniciais. No entanto, cerca de 15% apresentam um breve período de horas a um dia sem sintomas e, então, desenvolvem uma forma mais grave da doença.</p>

                            <p>Depois de identificar alguns desses sintomas, procure um médico na unidade de saúde mais próxima e informe sobre qualquer viagem para áreas de risco nos 15 dias anteriores ao início dos sintomas, e se você observou mortandade de macacos próximo aos lugares que você visitou, assim como picadas de mosquito. Informe, ainda, se você tomou a vacina contra a febre amarela, e a data.</p>

                            <p>Se você identificar macacos mortos na região onde vive ou está, informe imediatamente as autoridades sanitárias do município ou estado, de preferência, diretamente para a vigilância ou controle de zoonoses.</p>

                            <p>O Ministério da Saúde, através da Secretaria de Vigilância em Saúde, elabora normas e coordena as ações de vigilância e controle da doença. Também auxilia os estados e municípios na implementação e manutenção dessas ações, supervisiona as atividades e fornece a vacina contra a febre amarela.</p>
                
                            <h3>Complicações</h3>

                            <p>Em casos graves, a pessoa infectada por febre amarela pode desenvolver algumas complicações, como:</p>

                            <ul>
                                <li><p>Febre alta;</p></li>
                                <li><p>Icterícia (coloração amarelada da pele e do branco dos olhos);</p></li>
                                <li><p>Hemorragia (especialmente a partir do trato gastrointestinal);</p></li>
                                <li><p>Eventualmente, choque e insuficiência de múltiplos órgãos.</p></li>
                            </ul>
                
                            <p>Importante: Cerca de 20% a 50% das pessoas que desenvolvem febre amarela grave podem morrer. Assim que surgirem os primeiros sinais e sintomas, é fundamental buscar ajuda médica imediata.</p>
                        </div>

                    </article>
                
                    <article>

                        <div id="diagnostico">
                            <h3>Diagnóstico</h3>

                            <p>Somente um médico é capaz de diagnosticar e tratar corretamente a febre amarela.</p>

                            <p>No caso de qualquer um dos sintomas da doença, procure imediatamente uma unidade de saúde para avaliação médica adequada. O profissional fará os exames necessários para diagnosticar a doença, assim como sua gravidade, para escolher a melhor forma de tratamento.</p>
                        </div>

                    </article>
                
                    <article>

                        <div id="tratamento">
                            <h3>Tratamento</h3>

                            <p>O tratamento da febre amarela é apenas sintomático, com cuidadosa assistência ao paciente que, sob hospitalização, deve permanecer em repouso, com reposição de líquidos e das perdas sanguíneas, quando indicado. Nas formas graves, o paciente deve ser atendido em Unidade de Terapia Intensiva (UTI), para reduzir as complicações e o risco de óbito. Medicamentos salicilatos devem ser evitados (AAS e Aspirina), já que o uso pode favorecer o aparecimento de manifestações hemorrágicas.</p>

                            <p>O médico deve estar alerta para quaisquer indicações de um agravamento do quadro clínico.</p>
                        </div>

                    </article>
                
                    <article>

                        <div id="prevencao">
                            <h3>Prevenção</h3>

                            <p>A vacina é a principal ferramenta de prevenção e controle da febre amarela. O Sistema Único de Saúde (SUS) oferta vacina contra febre amarela para a população. Desde abril de 2017, o Brasil adota o esquema vacinal de apenas uma dose durante toda a vida, medida que está de acordo com as recomendações da Organização Mundial de Saúde (OMS).</p>

                            <p>Toda pessoa que reside em Áreas com Recomendação da Vacina contra febre amarela e pessoas que vão viajar para essas áreas deve se imunizar.</p>

                            <p>A vacina, que é administrada via subcutânea, está disponível durante todo o ano nas unidades de saúde e deve ser administrada pelo menos 10 dias antes do deslocamento para áreas de risco, principalmente, para os indivíduos que são vacinados pela primeira vez.</p>

                            <p> A vacinação para febre amarela é ofertada na rotina dos municípios com recomendação de vacinação.</p>
                        </div>

                    </article>

                    <article>

                        <div id="vacinacao">
                            <h3>Qual a importância da vacinação?</h3>

                            <p>Muitas doenças comuns no Brasil e no mundo deixaram de ser um problema de saúde pública por causa da vacinação massiva da população. Poliomielite, sarampo, rubéola, tétano e coqueluche são só alguns exemplos de doenças comuns no passado e que as novas gerações só ouvem falar em histórias. A vacinação protege você e a população, pois evita que doenças imunopreviníveis se espalhem.</p>

                            <p>Por isso é tão importante se vacinar e garantir a segurança em saúde para todos.</p>

                            <p>Atenção às crianças menores de 9 meses de idade, pois não irão receber a vacina, devendo utilizar-se repelente de acordo com as orientações de faixa etária de cada produto, bem como utilizar mosquiteiros e ou ambiente protegido.</p>

                            <p>Além da vacina, deve-se manter os cuidados para evitar a proliferação dos mosquitos, mantendo as casas e as ruas limpas sem acúmulo de água parada, habitat ideal para reprodução dos vetores.</p>

                            <p>Locais que têm matas e rios, onde o vírus e seus hospedeiros e vetores ocorrem naturalmente, são consideradas como áreas de risco. No Brasil, no entanto, a vacinação é recomendada para as pessoas a partir de 9 meses de idade conforme orientações para vacinação e que residem ou se deslocam para os municípios que compõem a Área Com Recomendação de Vacina.</p>

                            <p>Importante: A vacina é feita a partir do vírus vivo atenuado, isso quer dizer que existe uma pequena chance de desenvolver a doença no entanto ela existe na proporção de 1 reação adversa para cada 400 mil doses de vacinas aplicadas segundo as referências científicas existentes. Em áreas as áreas consideradas de maior risco de exposição como matas, florestas, rios, cachoeiras, parques e o meio rural, utilizar roupas recomenda-se que medidas de proteção individual sejam adotadas, principalmente para quem tem alguma contraindicação para receber a vacina como: usar repelente de insetos de acordo com as indicações do produto; proteger a maior extensão possível de pele através do uso de calça comprida, blusas de mangas compridas e sem decotes, de preferência largas, não coladas ao corpo, meias e sapatos fechados; evitar na medida do possível o deslocamento para áreas rurais e, principalmente, adentrar em matas, seja a trabalho ou turismo; passar o maior tempo possível em ambientes refrigerados, uso de mosquiteiros e telas nas janelas.</p>

                            <h3>Eventos pós-vacinação</h3>

                            <p>Os eventos adversos são possíveis reações após a vacinação da febre amarela. Os mais comuns relatados segundo estudos são: reações de hipersensibilidade, e as manifestações da própria doença com o desenvolvimento dos sinais e sintomas observados. A ocorrência de morte em até 30 dias após a vacinação deve ser investigada para confirmação se foi ou não relacionada ao uso da vacina.</p>

                            <p>Todo evento adverso deve ser investigado e tratado da mesma forma que os casos suspeitos de Febre Amarela. Se qualquer pessoa vacinada desenvolver os sinais e sintomas comuns para doença em até 15 dias após a vacinação, deve rapidamente procurar o serviço de saúde mais próximo para atendimento.</p>

                            <p><strong>Após 28 dias</strong> da vacina, as doações de sangue podem ser realizadas. Sugere-se que antes de tomar a vacina as pessoas procurem um hemocentro ou serviço de coleta para doação, evitando que haja desabastecimento dos estoques de bolsas de sangue.</p>
                
                            <h3>Não deve se vacinar:</h3>
                
                            <ul>
                                <li><p>Crianças menores de 9 meses de idade;</p></li>
                                <li><p>Mulheres amamentando crianças menores de 6 meses de idade;</p></li>
                                <li><p>Pessoas com alergia grave ao ovo;</p></li>
                                <li><p>Pessoas que vivem com HIV e que tem contagem de células CD4 menor que 350;</p></li>
                                <li><p>Pessoas em de tratamento com quimioterapia/radioterapia;</p></li>
                                <li><p>Pessoas portadoras de doenças autoimunes;</p></li>
                                <li><p>Pessoas submetidas a tratamento com imunossupressores (que diminuem a defesa do corpo).</p></li>
                            </ul>
                
                            <h3>Alergia</h3>
                
                            <p>Segundo previsto na política nacional de alimentação e nutrição do SUS, os profissionais da atenção básica devem fazer avaliação clínica e orientação nutricional das crianças e adultos identificando alergias alimentares e/ou problemas relacionados à alimentação e nutrição. Assim, os profissionais das Unidades Básicas de Saúde devem fazer a orientação sobre a dieta alimentar mais adequada em cada caso (incluindo a recomendação de não vacinação quando há componentes alergênicos) e caso haja necessidade, os usuários poderão ser encaminhados para um serviço especializado para realização de avaliação complementar e o melhor encaminhamento em cada caso.</p>
                        </div>

                    </article>

                    <article>

                        <div id="situacao-epidemiologica">
                            <h3>Situação epidemiológica</h3>

                            <p>Nas duas últimas décadas, foram registradas transmissões de FA além dos limites da área considerada endêmica (região amazônica). Casos humanos e/ou epizootias em PNH ocorridos na Bahia, em Minas Gerais, em São Paulo, no Paraná e no Rio Grande do Sul representaram a maioria dos registros de FA no período, caracterizando uma expansão recorrente da área de circulação viral nos sentidos leste e sul do País, que afetou áreas consideradas “indenes” até então, onde o vírus não era registrado há décadas.</p>

                            <p>Processos de reemergência do vírus da FA produziram importante impacto na saúde pública, representado pelos mais extensos surtos em humanos e epizootias em PNH pela doença das últimas décadas, sendo que os mais recentes ocorreram entre 1998 e 2003 [do Norte (PA;1998/1999) ao Sudeste (MG; 2002/2003) e Sul (RS; 2002/2003)], e entre 2007 e 2009 [do Norte/Centro-Oeste (2007/2008) ao Sudeste (SP; 2008/2009) e Sul (PR, RS; 2008/2009)].</p>

                            <p>A observação de um padrão sazonal de ocorrência de casos humanos a partir da análise da série histórica deu suporte à adoção da estratégia de vigilância baseada na sazonalidade.</p>

                            <p>O período anual de monitoramento da FA inicia em julho e encerra em junho do ano seguinte, de modo que os processos de transmissão que irrompem durante os períodos sazonais (dezembro a maio) possam ser analisados à luz das especificidades de cada evento</p>

                            <p>De tempos em tempos, a febre amarela silvestre reemerge no Brasil, produzindo surtos de magnitude e extensão variáveis.</p>

                            <p>Após a expansão da área de circulação viral ocorrida entre 2007 e 2009, quando o vírus atingiu as regiões Sudeste e Sul do país e causou mais de 100 casos da doença, com letalidade de 51%, a reemergência do vírus no Centro-Oeste brasileiro volta a causar preocupação.</p>

                            <p>No período de monitoramento 2014/2015, a reemergência do vírus da FA foi registrada além dos limites da área considerada endêmica (região amazônica), manifestando-se por epizootias em PNH confirmadas por critério laboratorial (TO; julho/2014).</p>

                            <p>Novos registros de epizootias e casos humanos isolados na região Centro-Oeste (GO, MG, SP) demonstraram o avanço da área de circulação do vírus, novamente percorrendo os caminhos de dispersão nos sentidos sul e leste do país, aproximando-se de grandes regiões metropolitanas densamente povoadas, com populações não vacinadas e infestadas por Aedes aegypti.</p>

                            <p>É importante ressaltar que toda esta expansão da circulação do vírus está associada à ocorrência do ciclo silvestre da doença, não havendo nenhum indício da sua urbanização.</p>

                            <p>Mais recentemente, no período 2017/2018, foi registrado um dos eventos mais expressivos da história da FA no Brasil. A dispersão do vírus alcançou a costa leste brasileira, na região do bioma Mata Atlântica, que abriga uma ampla diversidade de primatas não humanos e de potenciais vetores silvestres e onde o vírus não era registrado há décadas.</p>
                        </div>

                    </article>

                    <article>

                        <div id="reemergencia">
                            <h3>Reemergência da febre amarela no Brasil</h3>

                            <p>Em 2017, após a redução da incidência da doença no inverno, a retomada da transmissão do vírus tem sido observada em áreas/regiões afetadas durante o final do último surto (2016/2017), indicando o potencial para dispersar para outras áreas sem histórico de circulação do vírus e com populações de mosquitos silvestres e PNH. Nesse sentido, a Secretaria de Vigilância em Saúde - SVS/MS iniciou em novembro/2017 o monitoramento sazonal da Febre Amarela, no qual vem publicando boletins semanais com a atualização dos casos humanos e epizootias em PNH notificados no País.</p>
                        </div>

                    </article>
                
                    <article>

                        <div id="vigilancia">
                            <h3>Vigilância</h3>

                            <p><strong>Vigilância de casos humanos:</strong> A vigilância de casos humanos para febre amarela é feita por meio da notificação da ocorrência de casos com sintomatologia compatível com FA. Todo caso suspeito deve ser prontamente comunicado por telefone, fax ou e-mail às autoridades, por se tratar de doença grave com risco de dispersão para outras áreas do território nacional e mesmo internacional.</p>

                            <p>Além da comunicação rápida (até 24 horas), o caso suspeito deve ser notificado por meio do preenchimento da Ficha de Investigação de Febre Amarela, do Sistema de Informação de Agravos de Notificação (Sinan).</p>

                            <p>Para efeito de vigilância, a definição de caso humano suspeito é:</p>

                            <p>“Indivíduo com quadro febril agudo (até 7 dias), de início súbito, acompanhado de icterícia e/ou manifestações hemorrágicas, residente ou precedente de área de risco para febre amarela ou de locais com ocorrência de epizootias em primatas não humanos ou isolamento de vírus vetores nos últimos 15 dias, não vacinado contra febre amarela ou com estado vacinal ignorado”</p>

                            <p>Em situações de surto, recomenda-se adequar a definição de caso suspeito, tornando-a mais sensível para detectar o maior número possível de casos, levando-se em conta o amplo espectro clínico da doença.</p>

                            <p><strong>Vigilância de epizootias:</strong> O sistema de vigilância de epizootias em primatas foi iniciado em 1999, após período de intensa transmissão na região centro-oeste brasileira, onde foi observada a ocorrência de epizootia em primatas de formas precedente e concomitante aos casos humanos de febre amarela silvestre.</p>

                            <p>A partir de então, o Ministério da Saúde passou a incentivar iniciativas regionais para identificar a circulação do vírus em seu ciclo enzoótico.</p>

                            <p>Essa estratégia de vigilância consiste essencialmente em captar informações em tempo oportuno sobre adoecimento ou morte de PNH e investigar adequadamente esses eventos, já que as epizootias em PNH alertam para o risco de transmissão de Febre Amarela Silvestre para o homem.</p>

                            <p>A finalidade é subsidiar a tomada de decisão para a adoção de medidas de prevenção e de controle e para reduzir a morbimortalidade da doença na população humana, em áreas:</p>

                            <ul>
                                <li><p>Afetadas (com transmissão ativa);</p></li>
                                <li><p>Ampliadas (áreas adjacentes).</p></li>
                            </ul>

                            <p>Para efeito de vigilância, a definição de epizootia suspeita de FA é:</p>
                            <p><em>“Primata não humano de qualquer espécie, encontrado doente ou morto (incluindo ossadas), em todo o território nacional”.</em></p>

                            <p>Considera-se primata não humano doente, um animal que apresenta comportamento anormal, movimenta-se lentamente, não demonstra instinto de fuga, esteja segregado do grupo, com perda de apetite, baixo peso (magro), desnutrido, desidratado, com lesões cutâneas, secreções nasais, oculares e diarreia, dentre outros sinais ou sintomas.</p>

                            <p><strong>Vigilância entomológica:</strong> A vigilância entomológica é definida como a contínua observação e avaliação de informações originadas das características biológicas e ecológicas dos vetores, nos níveis das interações com hospedeiros humanos e animais reservatórios, sob a influência de fatores ambientais, que proporcionem o conhecimento para detecção de qualquer mudança no perfil de transmissão das doenças, e tem por finalidade recomendar medidas de prevenção e controle dos riscos biológicos mediante a coleta sistematizada de dados e sua consolidação no Sistema de Informações da Vigilância Ambiental.</p>

                            <p>A vigilância entomológica constitui uma ferramenta alternativa de investigação de evento suspeito de Febre amarela e outros arbovírus, baseando-se na pesquisa de vírus a partir de mosquitos. A partir de um resultado positivo, é possível estabelecer vínculo epidemiológico entre esse achado laboratorial e o evento sob investigação.</p>

                            <p>Para o desenvolvimento das atividades de investigação entomológica de eventos relacionados à FA, é necessária a padronização dos métodos empregados com vistas à comparação dos dados produzidos nas diversas unidades federativas, o que permitirá a estratificação do risco de transmissão, com implicações na análise e na definição das áreas receptivas e das Áreas Com Recomendação de Vacina (ACRV).</p>

                            <p>A vigilância entomológica da febre amarela divide-se em dois tipos:</p>

                            <ul>
                                <li><p><strong>Vigilância passiva:</strong> refere-se às atividades realizadas por ocasião de notificações de casos humanos ou epizootias em PNH suspeitos de FA, a partir das quais são desencadeadas medidas de bloqueio de transmissão. Nessa modalidade, são levantados dados que contribuem para classificar os eventos notificados como descartados ou confirmados, a depender dos resultados encontrados.</p></li>
                                <li><p><strong>Vigilância ativa:</strong> ações que se baseiam no monitoramento sistemático e contínuo de áreas estratégicas (sentinelas e vulneráveis/receptivas), com o intuito de acompanhar espacial e temporalmente populações de culicídeos potencialmente vetores, detectar precocemente a circulação viral e definir áreas com potencial de transmissão (receptivas), nas quais serão desencadeadas medidas preventivas. São realizadas independentemente da notificação de casos humanos ou epizootias em primatas não humanos suspeitos de febre amarela. Constitui um instrumento para predição/estratificação do risco de emergência da febre amarela, e permite detectar precocemente a circulação viral, subsidiando o planejamento das ações de prevenção e controle antes da ocorrência de casos humanos.</p></li>
                            </ul>
                        </div>

                    </article>

                    <article>

                        <div id="viajantes">
                            <h3>Viajantes e a febre amarela</h3>

                            <p>O Ministério da Saúde recomenda a vacina Febre Amarela (atenuada) para toda a população que viaja para Áreas Com Recomendação de Vacina (ACRV). A vacina está disponível em qualquer unidade básica de saúde (Postos de Saúde do SUS) e deve ser aplicada pelo menos 10 dias antes do deslocamento, para garantir o desenvolvimento da imunidade. Após a vacinação, é fornecido o Cartão Nacional de Vacinação, que deve ser conservado como documento pessoal.</p>

                            <h3>Viagens nacionais</h3>

                            <p>Recomenda-se a vacina contra febre amarela (atenuada) para toda a população a partir dos 9 meses de idade que se desloca da área sem recomendação de vacina (ASRV) para a área com recomendação da vacina (ACRV). Como os anticorpos protetores contra o vírus são produzidos entre o 7º e 10º dia após a administração da vacina, ela deve ser realizada no mínimo 10 dias antes da viagem, para que a pessoa seja considerada protegida. Uma dose confere proteção por toda vida.</p>

                            <p>Além da vacina, outras medidas de proteção individual devem ser levadas em consideração, como o uso de calças e camisas de manga longa e de repelentes contra insetos.</p>

                            <h3>Viagens internacionais</h3>

                            <p>Por ocasião de viagem internacional, conforme disposto no RSI (2005) alguns países podem exigir a comprovação da vacinação contra febre amarela para entrada em seu território. Esta comprovação é feita por meio do Certificado Internacional de Vacinação e Profilaxia (CIVP) emitido, no Brasil, por serviços públicos e privados cadastrados pela Agencia Nacional de Vigilância Sanitária (Anvisa) para este fim.</p>

                            <p>Segundo a atualização do anexo 7 do RSI (2005), uma única dose de vacina de febre amarela é necessária para conferir proteção ao longo da vida da pessoa vacinada. Assim, o CIVP passa automaticamente a ter validade por toda vida, não sendo necessário receber doses de reforço para emissão do certificado nem emissão de um novo CIVP para aqueles que já o possuem.</p>

                            <p>No entanto, para a emissão do CIVP é fundamental que o lote da vacina de febre amarela esteja corretamente registrado no comprovante de vacinação do viajante, pois este certificado somente será emitido para as vacinas aprovadas pela OMS.</p>
                        </div>

                    </article>

                    <article>

                        <div id="info-tec">
                            <h3>Informações técnicas</h3>

                            <p>A febre amarela apresenta dois ciclos de transmissão epidemiologicamente distintos: silvestre e urbano. Do ponto de vista etiológico, clínico, imunológico e fisiopatológico, a doença é a mesma nos dois ciclos.</p>

                            <p>No ciclo silvestre da febre amarela, os primatas não humanos (macacos) são os principais hospedeiros e amplificadores do vírus, e os vetores são mosquitos com hábitos estritamente silvestres, sendo os gêneros Haemagogus e Sabethes os mais importantes na América Latina.</p>

                            <p>Nesse ciclo, o homem participa como um hospedeiro acidental ao adentrar áreas de mata. No ciclo urbano, o homem é o único hospedeiro com importância epidemiológica e a transmissão ocorre a partir de vetores urbanos (Aedes aegypti) infectados.</p>

                            <p>A febre amarela urbana não é registrada no país desde 1942. Enquanto o Aedes aegypti encontrava-se erradicado, havia uma relativa segurança quanto à não possibilidade de reurbanização do vírus amarílico.</p>

                            <p>Entretanto, a reinfestação de extensas áreas do nosso território por este vetor, já presente em quase todos os municípios do país, traz a possibilidade de reestabelecimento deste ciclo de transmissão do vírus.</p>

                            <p>A forma silvestre é endêmica nas regiões tropicais da África e das Américas. Em geral, apresenta-se sob a forma de surtos com intervalos irregulares, sem ciclicidade definida. Na população humana, o aparecimento de casos é geralmente precedido de epizootias em primatas não humanos.</p>

                            <p>No Brasil, a partir da eliminação da forma urbana em 1942, só há ocorrência de casos de febre amarela silvestre (FAS) e os focos endêmicos até 1999 estavam situados nos estados das regiões Norte, Centro-Oeste e área pré-amazônica do Maranhão, além de registros esporádicos na parte Oeste de Minas Gerais.</p>

                            <p>Nos surtos ocorridos no período de 2000 a 2009, observou-se a expansão da circulação viral nos sentidos leste e sul do país, detectando-se sua presença em áreas silenciosas há várias décadas.</p>

                            <p>Esse caráter dinâmico da epidemiologia da doença tem exigido avaliações periódicas das áreas de risco para melhor direcionar os recursos e aplicar as medidas de prevenção e controle.</p>

                            <p>Em outubro de 2008, procedeu-se a uma nova delimitação, a qual levou em conta vários fatores: evidências da circulação viral, ecossistemas (bacias hidrográficas, vegetação), corredores ecológicos, trânsito de pessoas, tráfico de animais silvestres e critérios de ordem operacional e organização da rede de serviços de saúde que facilitassem procedimentos operacionais e logísticos nos municípios.</p>

                            <p>Desde então as áreas de risco e vacinação são reavaliadas frequentemente, conforme o cenário epidemiológico.</p>

                            <p>Atualmente são considerados dois status epidemiológicos de acordo com a recomendação de vacina febre amarela:</p>

                            <ul>
                                <li><p>Área Com Recomendação de Vacina (ACRV), correspondendo àquelas áreas com risco de transmissão;</p></li>
                                <li><p>Área Sem Recomendação de Vacina (ASRV), correspondendo, até então, a “áreas indenes”, pois não há evidências de circulação viral.</p></li>
                            </ul>

                            <p>Esta doença acomete com maior frequência o sexo masculino e a faixa etária acima dos 15 anos, em função da maior exposição profissional, relacionada à penetração em zonas silvestres da área endêmica de FAS. Outro grupo de risco são pessoas não vacinadas que residem próximas aos ambientes silvestres, onde circula o vírus, além de turistas e migrantes que adentram estes ambientes sem estar devidamente imunizados.</p>

                            <p>A maior frequência da doença ocorre nos meses de dezembro a maio, período com maior índice pluviométrico, quando a densidade vetorial é elevada, coincidindo com a época de maior atividade agrícola.</p>

                            
                            <p>Atualmente, a reemergência do vírus no Centro-Oeste brasileiro volta a causar preocupação. No período de monitoramento 2014/2015 (julho/2014 a junho/2015), registrou-se alteração no padrão de ocorrência de casos humanos e epizootias em primatas não humanos (PNH) durante o período sazonal da doença (dezembro a maio), com maior incidência de casos humanos em viajantes que realizavam atividades de turismo e lazer.</p>
                            
                            <p>A maior parte dos casos confirmados ocorreu em regiões turísticas de Goiás e Mato Grosso do Sul, áreas que mantêm intenso fluxo de pessoas, sobretudo durante o verão (período sazonal da doença). Para maiores informações acerca da situação epidemiológica atual da FA no Brasil, acesse o link “Situação Epidemiológica/Dados”.</p>
                            
                            <p>Consideram-se como potenciais fatores de risco para reurbanização da febre amarela no Brasil:</p>
                            
                            <ul>
                                <li><p>Expansão territorial da infestação do Aedes aegypti, já detectado em todas as Unidades Federadas;</p></li>
                                <li><p>Áreas infestadas por Aedes aegypti e Aedes albopictus superpostas a áreas de circulação do vírus amarílico;</p></li>
                                <li><p>Áreas urbanas infestadas por Aedes aegypti próximas de áreas de risco para febre amarela silvestre;</p></li>
                                <li><p>Intenso processo migratório rural-urbano, levando à possibilidade de importação do vírus amarílico dos ambientes silvestres para os urbanos;</p></li>
                                <li><p>Áreas de circulação do vírus amarílico com baixas coberturas vacinais.</p></li>
                            </ul>
                        </div>

                    </article>

                    <article>

                        <div id="orientacoes">
                            <h3>Orientações</h3>
                            
                            <p>A vigilância da Febre Amarela no Brasil atua visando reduzir a incidência da Febre Amarela Silvestre, impedir a transmissão urbana e também detectar oportunamente a circulação viral para orientar as medidas de controle. O Programa de Vigilância da Febre Amarela atua de forma articulada com diferentes áreas, como vigilância de casos humanos, vigilância entomológica (vetores urbanos e silvestres), vigilância ambiental e ações de informação, de educação e de comunicação.</p>
                            
                            <p>As vigilâncias entomológica e de epizootias em PNH constituem eixos de atuação ecoepidemiológica do Programa no Brasil. A Febre Amarela é uma doença de notificação compulsória imediata, ou seja, todo evento suspeito (tanto morte de primatas não humanos, quanto casos humanos com sintomatologia compatível) deve ser prontamente comunicado (até 24 horas após a suspeita inicial) às autoridades locais competentes pela via mais rápida (telefone, fax, email, etc).</p>
                        </div>

                    </article>

                </div>

            </div>

        </section>

    </main>



    <div class="espaco"></div>
    <!--rodapé-->
    <footer>

        <div class="contatos">

            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                        <path
                            d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                        <path
                            d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                    </svg>
                    <p>zoonosesdf@gmail.com</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>

        </div>
        
        <div class="titulo-final">
            <h1>Zoon</h1>
            <p>Copyright &copy; 2023</p>
        </div>
        
    </footer>



    <!-- acessibilidade -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>



</body>
</html>