<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/config-geral.css">
    <link rel="stylesheet" href="/css/paginas.css">
</head>
<body>
    <!-- gambiarra? -->
    <div class="gambiarra"></div>
    <!-- cabeçalho -->
    <header id="header">
        <!-- logo -->
        <div class="logo-header">
            <a href="/"><h1>Zoon</h1></a>
        </div>
    </header>



    <div class="espaco"></div>
    <!-- conteúdo -->
    <main>

        <section>

            <div class="titulo-referencia">
                <div class="titulo">
                    <h2>Leptospirose</h2>
                </div>

                <div class="espaco"></div>

                <div class="referencia">
                    <a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/l/leptospirose" target="_blank">Referência</a>
                </div>
            </div>

            <div class="espaco"></div>

            <div class="conteudo">
                <div class="conteudo-imagem">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn2fnCW3kl2FvDpvxY4T898Yq9Y_vEJ7po_w&usqp=CAU" alt="">
                </div>

                <div class="espaco"></div>

                <div class="conteudo-texto">

                    <article>

                        <div id="o-que-e">
                            <h3>O que é</h3>

                            <p>A leptospirose é uma doença infecciosa febril aguda que é transmitida a partir da exposição direta ou indireta à urina de animais (principalmente ratos) infectados pela bactéria Leptospira; sua penetração ocorre a partir da pele com lesões, pele íntegra imersa por longos períodos em água contaminada ou por meio de mucosas. O período de incubação, ou seja, intervalo de tempo entre a transmissão da infecção até o início das manifestações dos sinais e sintomas, pode variar de 1 a 30 dias e normalmente ocorre entre 7 a 14 dias após a exposição a situações de risco.</p>
                            
                            <p>A doença apresenta elevada incidência em determinadas áreas além do risco de letalidade, que pode chegar a 40% nos casos mais graves. Sua ocorrência está relacionada às condições precárias de infraestrutura sanitária e alta infestação de roedores infectados. As inundações propiciam a disseminação e a persistência da bactéria no ambiente, facilitando a ocorrência de surtos.</p>
                        </div>

                    </article>

                    <article>

                        <div id="situacao-epidemiologica">
                            <h3>Situação Epidemiológica</h3>

                            <p>No Brasil, a leptospirose é uma doença endêmica, tornando-se epidêmica em períodos chuvosos, principalmente nas capitais e áreas metropolitanas, devido às enchentes associadas à aglomeração populacional de baixa renda, às condições inadequadas de saneamento e à alta infestação de roedores infectados.</p>
                
                            <p>Algumas profissões facilitam o contato com as leptospiras, como trabalhadores em limpeza e desentupimento de esgotos, garis, catadores de lixo, agricultores, veterinários, tratadores de animais, pescadores, militares e bombeiros, dentre outros. Contudo, a maior parte dos casos ainda ocorre entre pessoas que habitam ou trabalham em locais com infraestrutura sanitária inadequada e expostas à urina de roedores.</p>
                            
                            <p>Existem registros de leptospirose em todas as unidades da federação, com um maior número de casos nas regiões sul e sudeste. A doença apresenta uma letalidade média de 9%. Entre os casos confirmados, o sexo masculino com faixa etária entre 20 e 49 anos estão entre os mais atingidos, embora não exista uma predisposição de gênero ou de idade para contrair a infecção. Quanto às características do local provável de infecção (LPI), a maioria ocorre em área urbana, e em ambientes domiciliares.</p>
                        </div>

                    </article>

                    <article>

                        <div id="como-identificar">
                            <h3>Como identificar</h3>

                            <p>As manifestações clínicas variam desde formas assintomáticas e subclínicas até quadros graves, associados a manifestações fulminantes. São divididas em duas fases: fase precoce e fase tardia.</p>
                            
                            <p><strong>Os principais da fase precoce são:</strong></p>
                            
                            <ul>
                                <li><p>Febre;</p></li>
                                <li><p>Dor de cabeça;</p></li>
                                <li><p>Dor muscular, principalmente nas panturrilhas;</p></li>
                                <li><p>Falta de apetite;</p></li>
                                <li><p>Náuseas/vômitos.</p></li>
                            </ul>
                            
                            <p>Podem ocorrer diarreia, dor nas articulações, vermelhidão ou hemorragia conjuntival, fotofobia, dor ocular, tosse; mais raramente podem manifestar exantema, aumento do fígado e/ou baço, aumento de linfonodos e sufusão conjuntival.</p>
                
                            <p>Em aproximadamente 15% dos pacientes com leptospirose, ocorre a evolução para manifestações clínicas graves, que normalmente iniciam-se após a primeira semana de doença. Nas formas graves, a manifestação clássica da leptospirose é a síndrome de Weil, caracterizada pela tríade de icterícia (tonalidade alaranjada muito intensa - icterícia rubínica), insuficiência renal e hemorragia, mais comumente pulmonar. Pode haver necessidade de internação hospitalar.</p>
                            
                            <p><strong>Manifestações na fase tardia:</strong></p>
                            
                            <ul>
                                <li><p>Síndrome de Weil - tríade de icterícia, insuficiência renal e hemorragias;</p></li>
                                <li><p>Síndrome de hemorragia pulmonar - lesão pulmonar aguda e sangramento maciço;</p></li>
                                <li><p>Comprometimento pulmonar - tosse seca, dispneia, expectoração hemoptoica;</p></li>
                                <li><p>Síndrome da angustia respiratória aguda - SARA;</p></li>
                                <li><p>Manifestações hemorrágicas - pulmonar, pele, mucosas, órgãos e sistema nervoso central.</p></li>
                            </ul>
                        </div>

                    </article>
                
                    <article>

                        <div id="como-se-prevenir">
                            <h3>Como se prevenir</h3>

                            <p>As medidas de prevenção e controle devem ser direcionadas aos reservatórios (roedores e outros animais), à melhoria das condições de proteção dos trabalhadores expostos e das condições higiênico-sanitárias da população, e às medidas corretivas sobre o meio ambiente, diminuindo sua capacidade de suporte para a instalação e proliferação de roedores.;</p>
                
                            <p>Cuidados com a água para consumo humano Garantia da utilização de água potável, filtrada, fervida ou clorada para consumo humano, haja vista serem comuns quebras na canalização durante as enchentes.;</p>
                
                            <p>A lama de enchentes tem alto poder infectante e adere a móveis, paredes e chão. Recomenda-se retirar essa lama (sempre com a proteção de luvas e botas de borracha) e lavar o local, desinfetando-o a seguir com uma solução de hipoclorito de sódio a 2,5%, na seguinte proporção: para 20 litros de água, adicionar duas xícaras de chá (400mL) de hipoclorito de sódio a 2,5%. Aplicar essa solução nos locais contaminados com lama, deixando agir por 15 minutos.;</p>
                
                            <p>Evitar o contato com água ou lama de enchentes e impedir que crianças nadem ou brinquem nessas águas. Pessoas que trabalham na limpeza de lama, entulhos e desentupimento de esgoto devem usar botas e luvas de borracha (ou sacos plásticos duplos amarrados nas mãos e nos pés).</p>
                
                            <p>Para o controle dos roedores, recomenda-se acondicionamento e destino adequado do lixo, armazenamento apropriado de alimentos, desinfecção e vedação de caixas d&apos;água, vedação de frestas e aberturas em portas e paredes, etc. O uso de raticidas (desratização) deve ser feito por técnicos devidamente capacitados.</p>
                        </div>

                    </article>
                
                    <article>

                        <div id="tratamento">
                            <h3>Tratamento</h3>

                            <p>O tratamento com o uso de antibióticos deve ser iniciado no momento da suspeita. </p>
                            
                            <p> Para os casos leves, o atendimento é ambulatorial, mas, nos casos graves, a hospitalização deve ser imediata, visando evitar complicações e diminuir a letalidade. A automedicação não é indicada. Ao suspeitar da doença, a recomendação é procurar um serviço de saúde e relatar o contato com exposição de risco. A antibioticoterapia está indicada em qualquer período da doença, mas sua eficácia costuma ser maior na 1&ordf; semana do início dos sintomas. Na fase precoce, são utilizados Doxiciclina ou Amoxicilina; para a fase tardia, Penicilina cristalina, Penicilina G cristalina, Ampicilina, Ceftriaxona ou Cefotaxima.</p>
                        </div>

                    </article>

                    <article>

                        <div id="quimioprofilaxia">
                            <h3>Quimioprofilaxia</h3>
                            
                            <p> Em virtude da insuficiência de evidências científicas sobre benefícios e riscos do uso de quimioprofilaxia para um grande contingente populacional, o uso de quimioprofilaxia não é indicado pelo Ministério da Saúde como medida de prevenção em saúde pública em casos de exposição populacional em massa por ocasião de desastres naturais como enchentes. A orientação para profissionais de saúde, militares e de defesa civil que se expuserem ou irão se expor a situações de risco durante operações de resgate, é utilizar equipamentos de proteção individual e ampliar o grau de alerta sobre o risco da doença entre os expostos, de forma a permitir o diagnóstico e tratamento oportunos dos pacientes. ;</p>
                
                            <p>Essa orientação caberá até que estudos nacionais sobre quimioprofilaxia possam ser realizados, contemplando aspectos locais e características da população que servirão para validar os atuais resultados e recomendações obtidos por estudos realizados no exterior.</p>
                        </div>

                    </article>

                </div>

            </div>

        </section>
        
    </main>



    <div class="espaco"></div>
    <!--rodapé-->
    <footer>

        <div class="contatos">

            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                        <path
                            d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                        <path
                            d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                    </svg>
                    <p>zoonosesdf@gmail.com</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>

        </div>
        
        <div class="titulo-final">
            <h1>Zoon</h1>
            <p>Copyright &copy; 2023</p>
        </div>
        
    </footer>



    <!-- acessibilidade -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>



</body>
</html>