<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/paginas.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <button class="btn-icon-header btn-hamburger" onclick="toggleSidebar()">
            <!-- ícone de lista do site bootstrap icons -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <!-- logo -->
        <div class="logo-header">
            <a href="/">Zoon</a>
        </div>

        <!-- menu -->
        <nav id="nav">
            <button class="btn-icon-header btn-x" onclick="toggleSidebar()">
                <!-- ícone x no site bootstrap icons -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>

            <!-- links do menu -->
            <a href="/path/cadastrar" class="active">Cadastrar</a>
            <!-- <a href="/path/logar" class="active">Logar</a> -->
        </nav>
    </header>



    <!-- conteúdo -->
    <main>
        <section>
            <div class="titulo-ancora">
                <h1>Controle de zoonoses deve ser preocupação constante, diz professor da USP</h1>
                <ul>
                    <li><a href="https://www.uol.com.br/vivabem/noticias/redacao/2020/05/10/controle-de-zoonoses-deve-ser-preocupacao-constante-diz-professor-da-usp.htm" target="_blank">Referência</a></li>
                </ul>
            </div>

            <div class="imagem-principal">
                <img src="https://conteudo.imguol.com.br/c/entretenimento/c4/2020/05/10/animais-no-pasto-zoonoses-1589119720981_v2_900x506.jpg">
            </div>
            <div class="conteudo-principal">
                <p>Relatório da FAO (Organização das Nações Unidas para a Alimentação e a Agricultura) de 2013 já informava que 70% das doenças infecciosas têm origem animal, sendo África e Ásia os continentes com maior vulnerabilidade. É especulado que a origem da covid-19 tenha sido no mercado de animais de Wuhan, na China, mas, além do novo coronavírus, doenças como a Aids, a influenza (H1N1) e encefalopatia espongiforme bovina possuem origem animal.</p>
                
                <p>O professor Marcos Jank, especialista em Agronegócio Global e titular da cátedra Luiz de Queiroz da Esalq-USP (Escola Superior de Agricultura Luiz de Queiroz da Universidade de São Paulo), explica que as zoonoses são doenças virais ou bacterianas facilmente transmitidas entre animais e seres humanos. "A globalização, que todo mundo admira, seja a conexão ou a facilidade de viajar, fez com que o caso de um vírus lá em Wuhan, na China, em um mercado tradicional, onde se vendiam animais domésticos ou mesmo animais selvagens abatidos, acabasse contaminando as pessoas de lá e paralisando a economia global em quatro meses."</p>
                
                <p>Para Jank, é preciso ter preocupação com as zoonoses, principalmente quando se trata de consumo de proteína animal: "Quando a gente vê esse problema acontecendo de forma tão grave, é preciso investigar quais são as origens. Uma das questões pode estar ligada à existência de mercados informais ou mercados molhados. Mais de 50% da distribuição de produtos frescos do tipo frutas, legumes, carnes e pescados ocorrem nesse tipo de mercado na África e na Ásia". O professor comenta que, nos mercados informais, é comum a falta de refrigeração e boas condições sanitárias, além de ocorrer abates de animais, o que, somado à circulação de pessoas no local, pode representar uma "bomba biológica"."Não estou falando que isso tenha a ver com a comida, mas é todo esse ambiente que pode estar contaminado, e essa é uma das áreas em que a humanidade precisaria atuar para diminuir os riscos."</p>
                
                <p>O professor diz que, no Brasil, há a utilização de varejos modernos, como açougues e supermercados, onde se prezam pelas condições sanitárias adequadas. "Aqui, no Brasil, a gente não tem problema de grande convivência de pessoas com animais. As criações são de animais estabulados, dentro de um sistema chamado de integração vertical, no qual as empresas do ramo oferecem aos produtores a ração dos animais, a assistência veterinária e os medicamentos", e complementa: "Porém, essa não é a realidade do mundo em desenvolvimento, que ainda tem muitos animais criados soltos e, principalmente, têm lugares onde não há refrigeração de perecíveis como carnes, lácteos, frutas e legumes".</p>
                
                <p>Em relação ao controle de zoonoses, Jank acredita que é preciso aprimorar ainda mais o controle sanitário no Brasil e buscar a uniformização internacional dos padrões de comercialização, "inclusive acabando com a caça ilegal de animais silvestres. É preciso disciplinar essa questão que ainda acontece no mundo". Para o professor, o Brasil deveria liderar o debate do tema: "Assim como a mudança climática é um problema global, acredito que a covid-19 vai deixar claro que a questão da saúde humana e animal é uma prioridade para a humanidade que, atualmente, se vê extremamente frágil com a eclosão de um vírus".</p>
    </main>



    <!--rodapé-->
    <footer>
        <div class="contatos">
            <!-- <p>Contatos:</p> -->
            <ul>
                <li>
                    <!-- <a href="https://mail.google.com/mail/?tab=rm&authuser=0&ogbl" target="_blank" rel="noopener noreferrer"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                            <path
                                d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                            <path
                                d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                        </svg>
                    <!-- </a> -->
                    <p>zoonosesdf@gmail.com</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>
        </div>
        <div class="footer-final">
            <h1>Zoon</h1>
            <!-- <p>Copyright&copy;2023</p> -->
        </div>
    </footer>
</body>
</html>