<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/paginas.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <button class="btn-icon-header btn-hamburger" onclick="toggleSidebar()">
            <!-- ícone de lista do site bootstrap icons -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <!-- logo -->
        <div class="logo-header">
            <a href="/">Zoon</a>
        </div>

        <!-- menu -->
        <nav id="nav">
            <button class="btn-icon-header btn-x" onclick="toggleSidebar()">
                <!-- ícone x no site bootstrap icons -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>

            <!-- links do menu -->
            <a href="/path/cadastrar" class="active">Cadastrar</a>
            <!-- <a href="/path/logar" class="active">Logar</a> -->
        </nav>
    </header>



    <!-- conteúdo -->
    <main>
        <section>
            <div class="titulo-ancora">
                <h1>Crescimento de zoonoses eleva risco de novas pandemias</h1>
                <ul>
                    <li><a href="https://noticias.uol.com.br/ultimas-noticias/afp/2022/06/10/crescimento-de-zoonoses-eleva-risco-de-novas-pandemias.htm" target="_blank">Referência</a></li>
                </ul>
            </div>

            <div class="imagem-principal">
                <img src="https://static.poder360.com.br/2022/08/macaco-848x477.jpg" alt="">
            </div> 
            <div class="conteudo-principal">
                <p>Paris, 10 Jun 2022 (AFP) - As zoonoses, doenças transmitidas dos animais para o homem, como ebola, covid-19 ou varíola do macaco, se multiplicaram nos últimos anos, aumentando o risco de surgimento de novas pandemias.</p>
                
                <p>"A interface entre homem e animal é bastante instável agora", comentou há alguns dias Mike Ryan, chefe de situações de emergência da Organização Mundial da Saúde (OMS). "Os fatores de emergência e amplificação de doenças aumentaram", segundo ele.</p>

                <p>Um exemplo disso, mas não o único, é a varíola do macaco, acrescenta. Essa varíola - "monkeypox" em inglês - causada por um vírus transmitido ao homem por animais infectados, geralmente roedores, é o exemplo mais recente da multiplicação dessas zoonoses.</p>

                <p>São doenças infecciosas que os animais vertebrados podem transmitir ao homem. Algumas acabam sendo especificamente humanas, como foi o caso da covid-19.</p>

                <p>Segundo a Organização Mundial da Saúde Animal, cerca de 60% das doenças emergentes são de origem zoonótica.</p>

                <p>Surgiram há milhares de anos, desde que o homem intensificou suas interações com os animais domesticando-os, mas se desenvolveram muito nos últimos 20 ou 30 anos.</p>

                <h2>Desmatamento</h2>

                <p>Entre as razões para isso está "a intensificação das viagens, que permite que as doenças se espalhem mais rapidamente e de maneira mais descontrolada", explicou à AFP Marc Eliot, chefe do laboratório de descoberta de patógenos do Instituto Pasteur.</p>

                <p>Além disso, ao ocupar áreas cada vez mais extensas do globo, o homem também contribui para perturbar o ecossistema e favorecer a transmissão de vírus.</p>

                <p>A intensificação da pecuária industrial também aumenta o risco de disseminação de patógenos entre os animais. O comércio de animais selvagens também aumenta a exposição humana às doenças que eles podem transmitir. Por fim, o desmatamento aumenta o risco de contato entre vida selvagem, animais domésticos e populações humanas.</p>

                <p>"Quando há desmatamento, a biodiversidade diminui; perdemos animais que regulam naturalmente os vírus, o que permite que eles se espalhem mais facilmente", explica à AFP Benjamin Roche, biólogo do Instituto de Pesquisa para o Desenvolvimento (IRD).</p>

                <p>As mudanças climáticas vão levar alguns animais a fugir de seus ecossistemas para regiões mais brandas, alertou um estudo publicado na revista Nature no final de abril.</p>

                <p>Mas ao se misturar mais, as espécies transmitem mais seus vírus, o que favorece o surgimento de doenças potencialmente transmissíveis ao homem.</p>

                <p>O estudo descreve uma "rede" de vírus passando de espécie para espécie e crescendo à medida que o planeta aquece.</p>

                <p>Hoje temos meios de investigação fáceis e rápidos que nos permitiriam agir rapidamente em caso de aparecimento de novos vírus, aponta Eloit.</p>

                <p>"Também somos capazes de desenvolver vacinas muito rapidamente", como visto com a covid-19, acrescenta.</p>

                <p>Mas "toda uma linhagem de novas doenças potencialmente perigosas corre o risco de emergir. Teremos que estar preparados", alerta Eric Fèvre, professor especialista em doenças infecciosas veterinárias da Universidade de Liverpool (Reino Unido) e do International Livestock Research Institute (Quênia).</p>

                <p>Isso significa, segundo ele, "insistir na saúde pública das populações" nos ambientes mais remotos, e "estudar melhor a ecologia dessas áreas naturais para entender como as diferentes espécies interagem".</p>

                <p>Desde o início dos anos 2000, o conceito "One Health" tem sido enfatizado, promovendo uma abordagem multidisciplinar e global dos desafios da saúde, com estreitas ligações entre a saúde humana, a saúde animal e o meio ambiente.</p>
            </div>
        </section>      
    </main>



    <!--rodapé-->
    <footer>
        <div class="contatos">
            <!-- <p>Contatos:</p> -->
            <ul>
                <li>
                    <!-- <a href="https://mail.google.com/mail/?tab=rm&authuser=0&ogbl" target="_blank" rel="noopener noreferrer"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                            <path
                                d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                            <path
                                d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                        </svg>
                    <!-- </a> -->
                    <p>zoonosesdf@gmail.com</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>
        </div>
        <div class="footer-final">
            <h1>Zoon</h1>
            <!-- <p>Copyright&copy;2023</p> -->
        </div>
    </footer>
</body>
</html>