<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/paginas.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <button class="btn-icon-header btn-hamburger" onclick="toggleSidebar()">
            <!-- ícone de lista do site bootstrap icons -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <!-- logo -->
        <div class="logo-header">
            <a href="/">Zoon</a>
        </div>

        <!-- menu -->
        <nav id="nav">
            <button class="btn-icon-header btn-x" onclick="toggleSidebar()">
                <!-- ícone x no site bootstrap icons -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>

            <!-- links do menu -->
            <a href="/path/cadastrar" class="active">Cadastrar</a>
            <!-- <a href="/path/logar" class="active">Logar</a> -->
        </nav>
    </header>



    <!-- conteúdo -->
    <main>
        <section>
            <div class="titulo-ancora">
                <h1>Os desafios na prevenção de zoonoses no Brasil e no mundo</h1>
                <ul>
                    <li><a href="https://www.uninter.com/noticias/os-desafios-na-prevencao-de-zoonoses-no-brasil-e-no-mundo" target="_blank">Referência</a></li>
                </ul>
            </div>

            <div class="imagem-principal">
                <img src="https://www.uninter.com/noticias/wp-content/uploads/2022/08/noticias_cow-g4bf66ffec_1920-1024x681.jpg" alt="">
            </div>
            <div class="conteudo-principal">
                <p>O Distrito Federal registrou uma morte por raiva humana, doença com alta taxa de letalidade, no dia 30 de julho. De acordo com a Secretaria de Saúde, a vítima foi um homem que tinha entre 15 e 18 anos.</p>
                
                <p>Foi a quinta morte por raiva humana no Brasil este ano, o maior número desde 2018, quando o país registrou 11 óbitos de acordo com dados do Ministério da Saúde. As mortes acendem um alerta com relação às  doenças classificadas como zoonoses, que atingem não só os brasileiros, mas toda a população mundial.</p>
                
                <p>Segunda a classificação da Secretaria de Saúde do Estado do Paraná, as zoonoses são doenças infecciosas transmitidas entre animais e pessoas. Os patógenos podem ser bacterianos, virais, parasitários ou podem envolver agentes não convencionais.</p>
                
                <p>A contaminação para os humanos pode acontecer por meio do contato direto ou através de alimentos, água ou meio ambiente. Os patógenos também podem se espalhar para os humanos por meio de pontos de contato com animais domésticos, agrícolas ou selvagens.</p>
                
                <h2>No Brasil e no Mundo</h2>
                
                <p>Causadora da mais recente pandemia mundial, o vírus da Covid-19 é um grande exemplo de como as zoonoses podem impactar a vida humana. Em seu relatório desenvolvido por cientistas de várias partes do mundo e divulgado no final de março, a OMS aponta a provável origem do vírus.</p>
                
                <p>A tese mais aceita é a de que o vírus passou do morcego para um mamífero intermediário, e dele para o ser humano. A transmissão de um morcego diretamente para um humano também foi apontada como uma hipótese possível.</p>
                
                <p>Segundo dados do consórcio de veículos de imprensa, o Brasil já registrou até o momento mais de 680 mil mortes decorrentes do coronavírus.</p>
                
                <p>Além da Covid-19, outras zoonoses vêm chamando a atenção do Brasil e do mundo. A mais recente é a varíola do macaco. A doença infecciosa causada pelo vírus MPV (monkeypox virus) já teve 1.860 casos confirmados no Brasil até a sexta-feira (01), segundo o Ministério da Saúde.</p>
                
                <p>Aproximadamente 75% dos infectados pela doença (ao menos 1400) estão no estado de São Paulo, sendo o primeiro na lista, seguido por Rio de Janeiro (169), Minas Gerais (63) e Paraná (41).</p>
                
                <p>De acordo com o virologista Flávio Guimarães, a doença em si não tem origem em macacos. A doença, na verdade, foi descrita originalmente na década de 1950 por afetar macacos, que são hospedeiros acidentais, e seres humanos.</p>
                
                <p>Outro exemplo de zoonose que vêm assolando, há anos, populações de diversos estados do Brasil é a dengue. Transmitida pelo mosquito Aedes aegypti, a doença pode se manifestar de forma benigna ou grave e até levar á morte.</p>
                
                <p>Cidades do Paraná e São Paulo já enfrentam difícil cenário devido à doença. Segundo a Secretaria da Saúde do Paraná, houve doze mortes e 2.682 casos de dengue no estado nos meses de maio, abril e junho deste ano.</p>
                
                <p>Já a cidade de São José do Rio Preto, no interior de São Paulo, registrou 2.103 novos casos de dengue nos últimos 30 dias, de acordo com um boletim divulgado pelo município na segunda-feira (1).</p>
                
                <p>Dentre as diversas zoonoses conhecidas, o coordenador do curso de Medicina Veterinária da Uninter, Marivaldo Oliveira, destaca também o Zika Virus, a febre amarela e a leptospirose, que atingiram a população brasileira ao longo das últimas décadas.</p>
                
                <p>Marivaldo explica que tais doenças podem atingir três estágios: endemia, epidemia ou pandemia. Segundo ele, o crescimento no aparecimento dessas doenças está diretamente ligado ao processo de urbanização e globalização.</p>
                
                <p>“Temos o contato do ser humano com áreas que antes não eram habitadas, e isso faz termos contato com essas doenças”, explica.</p>
                
                <p>Além disso, a destruição de habitats naturais aumenta o risco de transmissão de doenças, aumentando o contato entre humanos e animais selvagens.</p>
                
                <h2>Os cuidados essenciais</h2>
                
                <p>A transmissão de uma zoonose muitas vezes é feita em ambientes mais comuns do que imaginamos. Comércios de carne ou subprodutos de animais selvagens, por exemplo, são de alto risco devido ao grande número de patógenos novos ou não documentados.</p>
                
                <p>Pessoas que vivem próximas a áreas selvagens ou semiurbanas com maior número de animais selvagens correm o risco de contrair doenças vindas de animais. Segundo a Secretaria de Saúde do Paraná, algumas diretrizes para o cuidado dos animais no setor agrícola ajudam a reduzir o potencial de surtos de doenças zoonóticas de origem alimentar.</p>
                
                <p>Padrões para água potável e remoção de resíduos, bem como proteções para águas superficiais no ambiente natural, também são importantes e eficazes.</p>
                
                <p>Em casos como a raiva e a covid, a vacinação é o método mais eficiente para evitar que o indivíduo sofre complicações após uma contaminação. Ao confirmar a morte do adolescente nesta semana, o Distrito Federal também anunciou a antecipação da campanha de vacinação antirrábica animal em áreas rurais e urbanas.</p>
                
                <p>O tema foi debatido durante o programa Saúde em Foco, exibido pela Rádio Uninter em 2 de agosto. Comandado pela jornalista Bárbara Carvalho, o programa recebeu o de Medicina Veterinária da Uninter, Marivaldo Oliveira, para abordar as preocupações quanto à contaminação por doenças zoonóticas no mundo atual.</p>
            </div>
        </section>
    </main>



    <!--rodapé-->
    <footer>
        <div class="contatos">
            <!-- <p>Contatos:</p> -->
            <ul>
                <li>
                    <!-- <a href="https://mail.google.com/mail/?tab=rm&authuser=0&ogbl" target="_blank" rel="noopener noreferrer"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                            <path
                                d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                            <path
                                d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                        </svg>
                    <!-- </a> -->
                    <p>zoonosesdf@gmail.com</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>
        </div>
        <div class="footer-final">
            <h1>Zoon</h1>
            <!-- <p>Copyright&copy;2023</p> -->
        </div>
    </footer>
</body>
</html>