<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/paginas.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <button class="btn-icon-header btn-hamburger" onclick="toggleSidebar()">
            <!-- ícone de lista do site bootstrap icons -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <!-- logo -->
        <div class="logo-header">
            <a href="/">Zoon</a>
        </div>

        <!-- menu -->
        <nav id="nav">
            <button class="btn-icon-header btn-x" onclick="toggleSidebar()">
                <!-- ícone x no site bootstrap icons -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>

            <!-- links do menu -->
            <a href="/path/cadastrar" class="active">Cadastrar</a>
            <!-- <a href="/path/logar" class="active">Logar</a> -->
        </nav>
    </header>



    <!-- conteúdo -->
    <main>
        <section>
            <div class="titulo-ancora">
                <h1>Vírus Langya pode ser “ponta do iceberg” para patógenos não conhecidos, dizem cientistas</h1>
                <ul>
                    <li><a href="https://www.cnnbrasil.com.br/saude/cientistas-brasileiros-explicam-caracteristicas-de-novo-virus-de-animais-que-infecta-humanos/" target="_blank">Referência</a></li>
                </ul>
            </div>
            
            <div class="imagem-principal">
                <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2022/03/analise_covid_19_coronavirus_laboratorio_ilustrativa-3.jpg?w=876&h=484&crop=1" alt="">
            </div>
            <div class="conteudo-principal">
                <p>Pesquisadores ainda buscam respostas sobre disseminação e gravidade do agente que infectou 35 pessoas na China</p>
                
                <p>É necessária mais vigilância de um novo vírus detectado em dezenas de pessoas no leste da China que pode não causar a próxima pandemia, mas sugere com que facilidade os vírus podem passar despercebidos de animais para humanos, dizem cientistas.</p>
                
                <p>O vírus, apelidado de Langya henipavirus, infectou quase três dúzias de agricultores e outros moradores, de acordo com uma equipe de pesquisadores que acredita que pode ter se espalhado direta ou indiretamente para as pessoas por meio de musaranhos — pequenos mamíferos semelhantes a toupeiras encontrados em uma ampla variedade de habitats.</p>
                
                <p>O patógeno não causou nenhuma morte relatada, mas foi detectado em 35 pacientes com febre não relacionada em hospitais nas províncias de Shandong e Henan entre 2018 e 2021, disseram os cientistas — uma descoberta em sintonia com os avisos de longa data dos cientistas de que os vírus animais estão se espalhando.em pessoas ao redor do mundo sem serem detectados.</p>
                
                <p>Estamos subestimando enormemente o número desses casos zoonóticos no mundo, e este (vírus Langya) é apenas a ponta do iceberg”, disse o especialista em vírus emergente Leo Poon, professor da Escola de Saúde Pública da Universidade de Hong Kong, que não estava envolvido no último estudo.</p>
                
                <p>A primeira pesquisa científica sobre o vírus, publicada como correspondência de uma equipe de pesquisadores chineses e internacionais no New England Journal of Medicine na semana passada, recebeu atenção global devido à maior preocupação com surtos de doenças.</p>
                
                <p>Centenas de milhares de novos casos de Covid-19 ainda estão sendo relatados em todo o mundo todos os dias, quase três anos desde que o novo coronavírus por trás da pandemia foi detectado pela primeira vez na China.</p>
                
                <p>No entanto, os pesquisadores dizem que não há evidências de que o vírus Langya esteja se espalhando entre as pessoas ou que tenha causado um surto local de casos conectados. Mais estudos em um subconjunto maior de pacientes são necessários para descartar a disseminação de humano para humano, acrescentaram.</p>
                
                <p>A veterana cientista de doenças infecciosas Linfa Wang, que fazia parte da equipe de pesquisa, disse à CNN que, embora seja improvável que o novo vírus evolua para “outro evento de ‘doença X'”, como um patógeno anteriormente desconhecido que desencadeia uma epidemia ou pandemia, “Isso demonstra que esses eventos de transbordamento zoonótico acontecem com mais frequência do que pensamos ou sabemos”.</p>
                
                <p>Para reduzir o risco de um vírus emergente se tornar uma crise de saúde, “é absolutamente necessário realizar uma vigilância ativa de maneira transparente e colaborativa internacionalmente”, disse Wang, professor da Duke-National University of Singapore Medical School.</p>
                
                <h2>Rastreando vírus Langya</h2>
                
                <p>As primeiras pistas da presença de um novo vírus surgiram quando um agricultor de 53 anos procurou tratamento em um hospital na cidade de Qingdao, na província de Shandong, em dezembro de 2018, com sintomas como febre, dor de cabeça, tosse e náusea, de acordo com a documentação do pesquisadores.</p>
                
                <p>Como a paciente indicou que teve contato com animais no mês passado, ela foi inscrita em uma triagem adicional realizada em três hospitais no leste da China, focada na identificação de doenças zoonóticas.</p>
                
                <p>Quando as amostras de teste deste paciente foram examinadas, os cientistas encontraram algo inesperado — um vírus que nunca havia sido visto antes, relacionado aos vírus Hendra e Nipah, patógenos altamente fatais de uma família normalmente não conhecida pela fácil disseminação de humano para humano.</p>
                
                <p>Nos 32 meses seguintes, pesquisadores dos três hospitais rastrearam esse vírus em pacientes semelhantes, detectando-o em 35 pessoas, que apresentavam uma série de sintomas, incluindo tosse, fadiga, dor de cabeça e náusea, além de febre.</p>
                
                <p>Nove desses pacientes também foram infectados com um vírus conhecido, como a gripe, de modo que a fonte de seus sintomas não era clara, mas os pesquisadores acreditam que os sintomas nos 26 restantes podem ter sido causados pelo novo henipavírus.</p>
                
                <p>Alguns apresentavam sintomas graves, como pneumonia ou anormalidades de trombocitopenia, uma condição de plaquetas no sangue, de acordo com Wang, mas seus sintomas eram muito diferentes dos observados em pacientes de Hendra ou Nipah, e ninguém no grupo morreu ou foi internado na UTI.</p>
                
                <p>Enquanto todos se recuperaram, eles não foram monitorados para problemas de longo prazo, acrescentou.</p>
                
                <p>Desse grupo de 26, todos, exceto quatro, eram agricultores e, enquanto alguns foram sinalizados pelo mesmo hospital que o caso inicial detectado, muitos outros foram encontrados em Xinyang, a mais de 700 quilômetros de distância, em Henan.</p>
                
                <p>Como se sabia que vírus semelhantes circulavam em animais do sudoeste da China à Coreia do Sul, “não era surpreendente” ver o transbordamento em humanos ocorrendo em distâncias tão longas, explicou Wang.</p>
                
                <p>Não houve “contato próximo ou histórico de exposição comum entre os pacientes” ou outros sinais de disseminação de humano para humano, escreveram Wang e seus colegas em suas descobertas. Isso sugere que os casos foram esporádicos, mas são necessárias mais pesquisas, disseram eles.</p>
                
                <p>Assim que souberam que um novo vírus estava infectando pessoas, os pesquisadores, que incluíam cientistas de Pequim e autoridades de controle de doenças de Qingdao, começaram a trabalhar para ver se conseguiam descobrir o que estava infectando os pacientes.</p>
                
                <p>Eles testaram animais domesticados onde os pacientes viviam em busca de vestígios de infecção passada com o vírus e encontraram um pequeno número de cabras e cães que podem ter tido o vírus anteriormente.</p>
                
                <p>Mas o verdadeiro avanço veio quando eles testaram amostras retiradas de pequenos animais selvagens capturados em armadilhas — e encontraram 71 infecções em duas espécies de musaranhos, levando os cientistas a sugerir que esses pequenos mamíferos semelhantes a roedores poderiam ser onde o vírus circula naturalmente.</p>
                
                <p>O que ainda não está claro é como o vírus entrou nas pessoas, disse Wang.</p>
                
                <p>Mais estudos de triagem para o henipavírus Langya seguiriam e deveriam ser conduzidos não apenas nas duas províncias onde o vírus foi encontrado, mas mais amplamente na China e além, disse ele.</p>
                
                <p>A Comissão Nacional de Saúde da China não respondeu imediatamente a um pedido de comentário sobre se o monitoramento de novas infecções do vírus estava em andamento.</p>
                
                <h2>Redução de risco de vírus</h2>
                
                <p>Globalmente, acredita-se que 70% das doenças infecciosas emergentes tenham passado para os seres humanos através do contato com animais, em um fenômeno que os cientistas dizem ter acelerado à medida que as populações humanas crescentes se expandem para os habitats da vida selvagem.</p>
                
                <p>A China viu grandes surtos de vírus emergentes nas últimas duas décadas, incluindo SARS em 2002-2003 e Covid-19 – ambos detectados pela primeira vez no país e de vírus que se acredita serem originários de morcegos.</p>
                
                <p>Os efeitos devastadores de ambas as doenças — particularmente o Covid-19, que até agora matou mais de 6,4 milhões de pessoas em todo o mundo — demonstram a importância de identificar casos de novos vírus rapidamente e compartilhar informações sobre riscos potenciais.</p>
                
                <p>Cientistas não envolvidos na nova pesquisa concordaram que é necessário mais trabalho para entender o vírus Langya e confirmar as últimas descobertas, e disseram que a descoberta sublinhou a importância de rastrear quais vírus podem estar se espalhando de animais para pessoas.</p>
                
                <p>“Como esse (novo henipavírus) pode não estar circulando apenas na China, é importante compartilhar essas informações e permitir que outros se preparem ou façam mais investigações em seus próprios países”, disse Poon em Hong Kong.</p>
                
                <p>Os cientistas dizem que questões essenciais precisam ser respondidas sobre quão disseminado o novo vírus pode estar na natureza, como ele está se espalhando pelas pessoas e quão perigoso é para a saúde humana — incluindo o potencial de se espalhar entre as pessoas ou ganhar essa capacidade se continua a saltar de animais para humanos.</p>
                
                <p>A extensão geográfica de onde as infecções foram encontradas “sugerem que esse risco de infecção é bastante generalizado“, disse o virologista Malik Peiris, também da Universidade de Hong Kong, acrescentando que estudos em outros lugares da China e países vizinhos são importantes “para determinar o alcance geográfico deste vírus nos animais (musaranhos) e nos humanos.”</p>
                
                <p>Ele também disse que as últimas descobertas sugerem o grande número de infecções não detectadas que se espalham da vida selvagem para as pessoas e a necessidade de estudos sistemáticos para entender não apenas esse vírus, mas o quadro mais amplo da infecção humana com vírus da vida selvagem.</p>
                
                <p>“Isso é importante para que não sejamos pegos de surpresa pela próxima pandemia, quando – não se – vier”, disse ele.</p>
            </div>
        </section>
    </main>



    <!--rodapé-->
    <footer>
        <div class="contatos">
            <!-- <p>Contatos:</p> -->
            <ul>
                <li>
                    <!-- <a href="https://mail.google.com/mail/?tab=rm&authuser=0&ogbl" target="_blank" rel="noopener noreferrer"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                            <path
                                d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                            <path
                                d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                        </svg>
                    <!-- </a> -->
                    <p>zoonosesdf@gmail.com</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>
        </div>
        <div class="footer-final">
            <h1>Zoon</h1>
            <!-- <p>Copyright&copy;2023</p> -->
        </div>
    </footer>
</body>
</html>