<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/paginas.css">
</head>
<body>
    <!-- cabeçalho -->
    <header id="header">
        <button class="btn-icon-header btn-hamburger" onclick="toggleSidebar()">
            <!-- ícone de lista do site bootstrap icons -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <!-- logo -->
        <div class="logo-header">
            <a href="/">Zoon</a>
        </div>

        <!-- menu -->
        <nav id="nav">
            <button class="btn-icon-header btn-x" onclick="toggleSidebar()">
                <!-- ícone x no site bootstrap icons -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>

            <!-- links do menu -->
            <a href="/path/cadastrar" class="active">Cadastrar</a>
        </nav>
    </header>



    <!-- conteúdo -->
    <main>
        <section>
            <div class="titulo-ancora">
                <h1>Zika Vírus</h1>
                <ul>
                    <li><a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/z/zika-virus" target="_blank">Referência</a></li>
                </ul>
            </div>

            <div class="imagem-principal">
                <img src="https://conteudo.imguol.com.br/c/entretenimento/b0/2022/02/24/zika-virus-1645727091617_v2_4x3.jpg" alt="">
            </div>
            <div class="conteudo-principal">
                <article>
                    <div id="o-que-e">
                        <h2>O que é</h2>
                        <p>É uma arbovirose causada pelo vírus Zika (ZIKV). Arboviroses são doenças causadas por vírus (arbovírus) transmitidos por meio da picada de mosquitos, principalmente fêmeas. O ZIKV foi isolado pela primeira vez em macacos na floresta Zika de Kampala, Uganda no ano 1947. O primeiro isolamento humano do ZIKV foi relatado na Nigéria em 1953. Desde então, o ZIKV expandiu sua abrangência geográfica para vários países da África, Ásia, Oceania e Américas.</p>

                        <p>A maioria das infecções pelo ZIKV são assintomáticas ou representam uma doença febril autolimitada semelhante às infecções por chikungunya e dengue. Entretanto, a associação da infecção viral com complicações neurológicas como microcefalia congênita e síndrome de Guillain-Barré (SGB) foi demonstrada por estudos realizados durante surtos da doença no Brasil e na Polinésia Francesa.</p>

                        <p><strong>Todos</strong> os sexos e faixas etárias são <strong>igualmente suscetíveis</strong> ao vírus Zika, porém mulheres <strong>grávidas</strong> e pessoas <strong>acima de 60 anos</strong> têm maiores riscos de desenvolver complicações da doença. Esses riscos podem aumentar quando a pessoa tem alguma comorbidade.</p>
                    </div>
                </article>

                <article>
                    <div id="como-identificar">
                        <h2>Como identificar</h2>
                        <p>A infecção pelo vírus Zika pode ser assintomática ou sintomática. Quando sintomática, pode apresentar quadro clínico variável, desde manifestações brandas e autolimitadas até complicações neurológicas e malformações congênitas. Estudos recentes indicam que mais de 50% dos pacientes infectados por Zika tornam-se sintomáticos. O período de incubação da doença varia de 2 a 7 dias. Manifestações mais comuns:</p> 
                        
                        <ul>
                            <li><p>Febre baixa (&le;38,5 ºC) ou ausente;</p></li>
                            <li><p>Exantema (geralmente pruriginoso e maculopapular craniocaudal) de início precoce;</p></li>
                            <li><p>Conjuntivite não purulenta;</p></li>
                            <li><p>Cefaleia, artralgia, astenia e mialgia;</p></li>
                            <li><p>Edema periarticular, linfonodomegalia.</p></li>
                        </ul>

                        <p>Além da manifestação clínica exantemática febril leve da infecção pelo ZIKV, o prurido é um sintoma importante durante o período agudo, podendo afetar as atividades cotidianas e o sono. Duas complicações neurológicas graves relacionadas ao ZIKV foram identificadas: Síndrome de Guillan-Barré (SGB), uma condição rara em que o sistema imunológico de uma pessoa ataca os nervos periféricos, e microcefalia, a manifestação mais grave de um espectro de defeitos congênitos. Gestantes infectadas podem transmitir o vírus ao feto e essa forma de transmissão da infecção pode resultar em aborto espontâneo, óbito fetal ou malformações congênitas, como a microcefalia. Deve-se ficar atento para o aparecimento de outros quadros neurológicos, tais como, encefalites, mielites e neurite óptica, entre outros.</p>

                        <p>O diagnóstico do Zika Vírus é clínico e feito por um médico. O resultado é confirmado por meio de exames laboratoriais de sorologia e biologia molecular. Todos os exames estão disponíveis no Sistema Único de Saúde (SUS). Os recém-nascidos com suspeita de comprometimento neurológico necessitam de exames de imagem, como ultrassom. Tomografias ou ressonância magnética. Em caso de confirmação do Zika a notificação deve ser ao Ministério da Saúde em até 24 horas. O diagnóstico laboratorial específico do ZIKV pode ser realizado por métodos diretos, que incluem o isolamento viral e a pesquisa de genoma viral por transcrição reversa seguida por reação em cadeia da poli¬merase (RT-PCR) e indiretos, que consistem na identificação da presença de anticorpos virais.</p>

                        <p>Em caso de óbito suspeito de infecção pelo ZIKV é recomendado o estudo anatomopatológico seguido de pesquisa de antígenos virais por imuno-histoquímica (IHQ). Em razão da semelhança entre alguns sinais e sintomas da infecção pelo ZIKV com a dengue e chikungunya, recomenda-se, em caso de a suspeita inicial ser Zika, que a testagem seja iniciada por métodos diretos. Amostras de urina podem ser utilizadas para confirmar a infecção viral até o 15&ordm; dia do início dos sintomas.</P>

                        <p>Em um cenário de cocirculação de DENV, ZIKV e CHIKV, que pode ser realidade em muitos municípios no Brasil, se faz necessária, sempre que possível, a investigação por métodos diretos para detecção desses vírus. Em relação ao diagnóstico sorológico, existe a possibilidade de reação cruzada por meio da sorologia IgM entre o ZIKV e o DENV.</p>

                        <p>Dessa forma, recomenda-se que as amostras sejam testadas em paralelo para as duas doenças, também com o objetivo de reduzir o número de falso-positivos. As amostras negativas para Zika e dengue deverão ser testadas posteriormente para chikungunya.</p>
                    </div>
                </article>

                <article>
                    <div id="sindrome">
                        <h2>Síndrome Congênita do Zika Vírus</h2>

                        <p> A gestante infectada, sintomática ou assintomática, pode transmitir o vírus para o feto durante todo o período gestacional, oportunizando a manifestação de diversas anomalias congênitas - sobretudo a microcefalia -, alterações do Sistema Nervoso Central e outras complicações neurológicas que, em conjunto, constituem a Síndrome Congênita do vírus Zika (SCZ). As crianças com SCZ tendem a ter uma ampla gama de deficiências intelectuais, físicas e sensoriais, que duram a vida toda.</p>

                        <p> No ano de 2015, em decorrência do aumento de nascimentos com microcefalia e sua associação com a infecção pelo vírus Zika, foi declarado no Brasil o estado de Emergência em Saúde Pública de Importância Nacional (ESPIN). Para qualificar a assistência as crianças durante o período da emergência, foi estabelecida no país a vigilância da Síndrome Congênita do Vírus Zika (SCZ) e de outras etiologias infecciosas como Sífilis, Toxoplasmose, Rubéola, Citomegalovírus e Herpes Simplex (STORCH). Essa vigilância possui como propósito a identificação de complicações relacionadas à infecção pelo vírus Zika e outras etiologias no pré-natal, parto, pós-parto e puericultura nos primeiros anos de vida, bem como fornecer informações atualizadas de modo a guiar políticas para promoção do cuidado adequado às crianças com alterações no crescimento e no desenvolvimento, independentemente da etiologia.</p>
                    </div>
                </article>

                <article>
                    <div id="como-se-previnir">
                        <h2>Como se previnir</h2>
                        <p>Atualmente, não há vacinas ou terapias específicas para o ZIKV viáveis disponíveis. Portanto, o controle do vetor é o principal método para a prevenção e controle de doenças transmitidas por mosquitos, como Zika, seja pelo manejo integrado de vetores ou pela prevenção pessoal. Deve-se reduzir a infestação de mosquitos por meio da eliminação de criadouros, sempre que possível, ou manter os reservatórios e qualquer local que possa acumular água totalmente cobertos com telas/capas/tampas, impedindo o acesso do mosquito Aedes Aegypti.</p>
                        
                        <p>Medidas de proteção individual para evitar picadas de mosquitos devem ser adotadas por viajantes e residentes em áreas de transmissão. A proteção contra picadas de mosquito é necessária principalmente ao longo do dia, pois o Aedes Aegypti pica principalmente durante o dia. Recomenda-se as seguintes medidas de proteção individual:</p>
                        
                

                        <ul>
                            <li><p>Proteger as áreas do corpo que o mosquito possa picar, com o uso de calças e camisas de mangas compridas;</p></li>
                            <li><p>A utilização de mosquiteiros sobre a cama, uso de telas em portas e janelas e, quando disponível, ar-condicionado;</p></li>
                            <li><p>Usar repelentes à base de DEET (N-N-dietilmetatoluamida), IR3535 ou de Icaridina nas partes expostas do corpo. Também pode ser aplicado sobre as roupas. O uso deve seguir as indicações do fabricante em relação à faixa etária e à frequência de aplicação. Deve ser observada a existência de registro em órgão competente. Repelentes de insetos contendo DEET, IR3535 ou Icaridina são seguros para uso durante a gravidez, quando usados de acordo com as instruções do fabricante. Em crianças menores de 2 anos de idade, não é recomendado o uso de repelente sem orientação médica. Para crianças entre 2 e 12 anos, usar concentrações até 10% de DEET, no máximo 3 vezes ao dia.</p></li>
                           
                        </ul>
                    </div>
                </article>
                
                <article>
                    <div id="tratamento">
                        <h2>Tratamento</h2>
                        <p>Ainda não existe antiviral disponível para tratamento específico da infecção pelo vírus Zika. Para os quadros sintomáticos, aplicam-se as principais medidas:</p>

                        <ul>
                            <li><p>Repouso relativo, enquanto durar a febre;</p></li>
                            <li><p>Estímulo à ingestão de líquidos;</p></li>
                            <li><p>Administração de paracetamol ou dipirona em caso de dor ou febre;</p></li>
                            <li><p>Não administração de ácido acetilsalicílico;</p></li>
                            <li><p>Administração de anti-histamínicos;</p></li>
                            <li><p>Recomendação ao paciente para que retorne imediatamente ao serviço de saúde, em casos de sensação de formigamento de membros ou alterações do nível de consciência (para investigação de SGB e de outros quadros neurológicos);</p></li>
                            <li><p>Diante da queixa de alteração visual, encaminhamento ao oftalmologista para avaliação e tratamento.</p></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>
    </main>



    <!--rodapé-->
    <footer>
        <div class="footer-final">
            <h1>Zoon</h1>
            <p>Copyright&copy;2023</p>
        </div>
        <div class="contatos">
            <p>Contatos:</p>
            <ul>
                <li>
                    <a href="https://mail.google.com/mail/?tab=rm&authuser=0&ogbl" target="_blank"
                        rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-mailbox2" viewBox="0 0 16 16">
                            <path
                                d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                            <path
                                d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                        </svg>
                        <p>E-mail:</a> zoon@gmail.com</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>Telefone: (61)98765-4321</p>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>