/* paleta de cores */
:root {
    --color-white: ghostwhite;
    --color-dark1: #111;
    --color-dark2: rgba(9, 9, 9, 0.1);
    --color-gold: goldenrod;
}


/* API */
.container {
    text-align: center;
    padding: 30px;
    margin: -30px auto 0;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
}
.container h3 {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
.form-input-container {
    width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#city-input {
    margin: 10px 0;
    padding: 8px 8px 10px;
    border-style: none;
    border-radius: 10px;
}
#search {
    padding: 8px 8px 10px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
.cidade-pais h4 {
    margin: 10px auto;
    width: fit-content;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* tamanho da bandeira */
#country {
    height: 30px;
}
/* onde mostra o estado atual do tempo */
#description-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#description-container {
    width: fit-content;
    padding-left: 20px;
    margin-bottom: 20px;
}
#description {
    text-transform: capitalize;
}
/* umidade e velocidade do vento */
#details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
    padding: 10px 30px;
    border-radius: 10px;
}